<template>
  <div class="columns is-multiline is-desktop">
    <div :class="['column', triggerColumnClass(ind)]" v-for="(card, ind) in cards" :key="card.release_id">
        <div class="card" @click="cardInfos(card)">
            <div class="card-image">
                <figure class="image is-1by1">
                    <img :src="cardPicture(card.release_id)" :alt="card.title">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ card.title|tighten(5) }}</p>
                        <p class="subtitle is-6">{{ card.artist }}</p>
                    </div>
                </div>
                <div class="content">
                    <p>{{ card.format }} [{{ card.release_year }}]</p>
                    <p><strong>{{ card.price|euros }}</strong></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import {shuffleArray} from '../utils'

export default {
  name: 'Cards',
  data () {
    return {
      columnSize: [
          'half',
          'one-quarter',
          'quarter',
          '6',
          '12'
      ]
    }
  },
  computed: {
        columnClass() {
            let renderClass = this.columnSize[1]
            // first: insert mobile class, then: widescreen class
            return `is-12-mobile is-${renderClass}-desktop`
        },
        cards() {
            return this.$store.getters.renderRecordsList
        }
  },
  methods: {
        cardInfos(card) {
            this.$store.commit('modalOn', card.release_id)
            this.$store.commit('addCardToCache', card)
        },
        cardPicture(release_id) {
            return `http://localhost/api/images/${release_id}.jpg`
        },
        triggerColumnClass(i) {
            if (i % 1 === 0) {
                return this.columnClass
            }
        }
  }
}
</script>

<style lang="scss">
    .card {
        cursor: pointer;
    }
    .media-content {
        overflow: hidden;
    }
</style>
