<template>
  <section id="table-view">
        <b-table :data="isEmpty ? [] : records"
                 :selected.sync="selected"
                 :default-sort-direction="defaultSortDirection"
                 default-sort="artist"
                 hoverable>
            <template slot-scope="props" class="table-row">
                <b-table-column field="row_id" label="#" width="40" numeric sortable>
                    {{ props.row.row_id }}
                </b-table-column>

                <b-table-column field="artist" label="Artiste(s)" sortable>
                    {{ props.row.artist }}
                </b-table-column>

                <b-table-column field="title" label="Titre" sortable>
                    {{ props.row.title }}
                </b-table-column>

                <b-table-column field="release_year" label="Date de sortie" sortable>
                    {{ props.row.release_year }}
                </b-table-column>

                <b-table-column field="price" label="Prix" sortable>
                    {{ props.row.price|euros }}
                </b-table-column>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>Aucun résultat.</p>
                    </div>
                </section>
            </template>
        </b-table>
    </section>
</template>

<script>
    export default {
        name: 'Lists',
        data() {
            return {
                isEmpty: false,
                selected: {},
                defaultSortDirection: 'asc',
                isPaginated: true,
                isPaginationSimple: false
            }
        },
        computed: {
            records() {
                return this.$store.getters.renderRecordsList
            }
        },
        watch: {
            selected(val) {
                this.$store.commit('modalOn', val.release_id)
                this.$store.commit('addCardToCache', val)
            }
        }
    }
</script>

<style>
    tr {
        cursor: pointer;
    }
</style>
