<template>
  <div :class="activeState">
      <div class="modal-background"></div>
      <b-loading :active.sync="isLoading" :canCancel="false"></b-loading>
      <div class="modal-wrapper" v-if="infos && details != null">
          <div class="box">
            <!-- <pre>{{ infos }}</pre> -->
            <img :src="sleeve" :alt="infos.title" class="thumbnail">
            <h3 class="title is-3">{{ infos.title }}</h3>
            <p class="has-text-weight-light">{{ infos.artist }}, <span class="has-text-grey-light">{{ infos.release_year }}, {{ details.country }}</span></p>
            <p>Labels : <strong>{{ labels }}</strong></p>
            <p><strong>{{ genres }}:</strong> <em>{{ styles }}</em>.</p>
            <p><small>{{ formats }}</small></p>
            <h4 class="subtitle is-4"><strong>{{ infos.price|euros }}</strong> <span class="has-text-weight-light is-size-7">({{ infos.location }})</span></h4>
            <hr/>
            <h5 class="subtitle is-5">Tracklisting</h5>
            <div class="content is-small">
                <div class="columns is-variable" v-html="tracklisting"></div>
                <!-- <ul v-html="tracklisting"></ul> -->
            </div>
            <p :class="marketTension">Acquéreurs : <strong>{{ details.community.want }}</strong>, propriétaires : <strong>{{ details.community.have }}</strong></p>
            <p><small>Etat du disque: {{ infos.media_condition }}, état de la pochette: {{ infos.sleeve_condition }}</small></p>
            <p>Date officielle de sortie: {{ completeReleaseDate }}</p>
            <a class="button is-info is-outlined" :href="infos.discogs_link" target="_blank">Infos Discogs</a>
          </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeModal"></button>
  </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'Modal',
        data() {
            return {
                coucou: ['modal'],
                infos: {},
                details: null
            }
        },
        computed: {
            activeState() {
                let cardInCache = this.$store.getters.cardInCache(this.$store.state.tmp)
                if (this.$store.state.activeModal != null) {
                    this.coucou.push(this.$store.state.activeModal)
                    if (cardInCache) {
                        // console.log('no timer')
                        this.infos = cardInCache
                        this.cardDetails(cardInCache.release_id)
                    } else {
                        // console.log('little timer...')
                        setTimeout(() => {
                            this.infos = this.$store.state.last
                        }, Math.floor(Math.random() * 2000))
                    }
                }
                return this.coucou
            },
            isLoading()  {
                return !this.infos
            },
            sleeve: {
                get() {
                    // return `http://localhost/api/images/${this.infos.release_id}.jpg`
                    let thumb = this.details.thumb
                    return thumb
                }
            },
            tracklisting: {
                get() {
                    let tracklist = this.details.tracklist
                    let result = tracklist.map((item, ind) => {
                        let duration = item.duration ? ` [${item.duration}]` : '',
                            position = item.position,
                            title = item.title,
                            content = `<p>${ position }: ${ title }${ duration }</p>`,
                            output = []
                        
                        if (ind % 4 === 0) {
                            if (ind != 0) {
                                output.push(`</div>`)
                            }
                            output.push(`<div class="column">`)
                        }
                        output.push(content)
                        // return `<li>${position}: ${title}${duration}</li>`
                        return output.join('')
                    })
                    return result.join('')
                }
            },
            genres: {
                get() {
                    let genres = this.details.genres
                    return genres.join(', ')
                }
            },
            styles: {
                get() {
                    let styles = this.details.styles
                    let nu_styles = styles.map((item) => {
                        return item.toLowerCase()
                    })
                    return nu_styles.join(', ')
                }
            },
            completeReleaseDate: {
                get() {
                    let release_date = this.details.released.split('-')
                    if (release_date.length > 1) {
                        if (release_date[2] === '00') {
                            release_date.pop()
                        }
                        return release_date.reverse().join('/')
                    }
                    return release_date.join('')
                }
            },
            marketTension: {
                get() {
                    let owners = this.details.community.have
                    let buyers = this.details.community.want
                    return buyers / owners > 1 ? 'red' : 'green'
                }
            },
            formats: {
                get() {
                    let formats = this.details.formats[0]
                    let qty = formats.qty
                    let descriptions = formats.descriptions.join(', ')
                    let type = formats.name
                    return `${qty} X ${type}: ${descriptions}`
                }
            },
            labels: {
                get() {
                    let labels = this.details.labels
                    // let results = [...new Set(labels)]
                    // Working on uniqueness HERE!
                    let results = labels.filter((el,ind, self) => self.findIndex( (t) => { return (t.name === el.name )}) === ind)
                    let output = results.map((it) => {
                        let labelName = it.name
                        let catNO = it.catNO ? `, ${it.catNO}` : ''
                        return `${labelName}${catNO}`
                    })

                    return output.join(', ')
                }
            }
        },
        methods: {
            closeModal() {
                this.$store.commit('modalOff')
                this.coucou = ['modal']
                this.infos = {}
            },
            cardDetails(rId) {
                let url = `http://localhost/api/releases/${rId}.json`
                axios.get(url)
                    .then((res) => {
                        this.details = res.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        }
    }
</script>

<style scoped>
    pre { font-size: 12px; }
    .modal-wrapper {
        overflow: hidden;
        position: fixed;
        width: 90%;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .thumbnail {
        display: block;
        float: left;
        margin: 0 1em 0 0;
        width: 150px;
        height: 150px;
    }

    .red {
        color: #ff2233;
    }
    .green {
        color: #00FF00;
    }
</style>
