<template>
    <nav class="navbar is-transparent is-fixed-top" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <h2>
                <a href="https://www.discogs.com/user/lezef" class="has-text-weight-semibold brand" target="_blank">discogs@lezef</a>
            </h2>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <section>
                    <b-field>
                        <b-radio-button v-model="radioButton" native-value="Card" type="is-danger" size="is-small">
                            <span>Cartes</span>
                        </b-radio-button>
                        <b-radio-button v-model="radioButton" native-value="List" type="is-danger" size="is-small">
                            <span>Liste</span>
                        </b-radio-button>
                    </b-field>
                </section>
            </div>
            <div id="search-by-price" v-if="displaySearch" class="navbar-item">
                <div class="is-pulled-left">
                    <div class="control">
                        <div class="select is-rounded is-small">
                            <select v-model="operand">
                                <!-- <option disabled value="">Choisir le comparateur</option> -->
                                <option>=</option>
                                <!-- INFERIOR -->
                                <option>&lt;</option>
                                <!-- SUPERIOR -->
                                <option>&gt;</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="is-pulled-left">
                    <div class="control">
                        <input v-model="priceFilter" class="input is-small" placeholder="recherche par prix..."/>
                    </div>
                </div>
            </div>
            <div class="navbar-item" v-if="displaySearch" id="search-by-genre">
                <section>
                    <b-field>
                        <b-select placeholder="Rechercher par genre" size="is-small" v-model="genre_selected">
                            <option :key="key + '-' + ind" :value="key" v-for="(genre, key, ind) in genresCollection">
                                {{ key }}<span v-if="genre.length > 0"> ({{ genre|length }})</span>
                            </option>
                        </b-select>
                    </b-field>
                </section>
            </div>
            <div class="navbar-item" v-if="displaySearch" id="search-by-artist-or-title">
                <div class="field">
                    <div class="control">
                        <input v-model="searchRecords" v-focus class="input is-small" placeholder="recherche artiste/titre..."/>
                    </div>
                </div>
            </div>

            <div class="navbar-item" v-if="filteredList != null">
                <p v-html="filteredList" class="has-text-weight-light has-text-danger" style="font-size:0.9em;"></p>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <section>
                    <p class="has-text-weight-light is-size-7 has-text-info">
                        <span class="has-text-info is-italic">{{ getTotalRecords}} disques</span> 
                        <span v-if="stats">[TOTAL: {{ getTotalPrice|euros }}, <small><span class="has-text-weight-semibold">moyenne: </span><em>{{ getAveragePricePerRecords|euros }}, <span class="has-text-weight-semibold">prix médian: </span>{{ getMedianPrice|euros }}.</em></small>]</span>
                        </p>
                </section>
            </div>
        </div>
    </div>
    </nav>
</template>

<script>
    import axios from 'axios'
    import {debounce} from '../utils'

    const focus = {
        inserted(el) {
            el.focus()
        }
    }

    export default {
        name: 'Nav',
        directives: { focus },
        data() {
            return {
                operand: '=',
                filteredList: null,
                amount: '',
                stats: false,
                displaySearch: false,
                search_term: null,
                genre_selected: null
            }
        },
        created() {
            // FROM: https://laracasts.com/discuss/channels/vue/vuejs-listen-for-key-events-on-div
            window.addEventListener('keyup', (e) => {
                console.log(e.keyCode)

                /*
                * touche ? = 16
                * touche , = 188
                */
                // if ( e.keyCode === 188 ) {
                //     this.stats = ! this.stats
                // }
                /*
                * touches ALT + W pour afficher davantage de détails en en-tête
                */

                if ( e.altKey === true && e.keyCode === 87 ) {
                    this.stats = ! this.stats
                }
                /*
                * touche S pour activer le champs de recherche
                */
                if ( e.altKey === true && e.keyCode === 83 ) {
                    this.displaySearch = ! this.displaySearch
                }
            })
        },
        mounted() {
            this.getGenres()
        },
        computed: {
            radioButton: {
                get() {
                    return this.$store.state.navigationView
                },
                set(val) {
                    this.$store.commit('updateNavigationView', val)
                }
            },
            getTotalPrice: {
                get() {
                    return this.$store.getters.getTotalPrice
                }
            },
            getTotalRecords: {
                get() {
                    return this.$store.getters.getTotalAmount
                }
            },
            getAveragePricePerRecords: {
                get() {
                    return this.$store.getters.getAverage
                }
            },
            getMedianPrice: {
                get() {
                    return this.$store.getters.getMedianPrice
                }
            },
            priceFilter: {
                get() {
                    return this.amount
                },
                set(val) {
                    this.amount = val
                    this.setPriceFilter(this.amount)
                }
            },
            searchRecords: {
                get() {
                    return this.search_term
                },
                set(val) {
                    this.search_term = val
                    this.setSearchRecords(this.search_term)
                }
            },
            genresCollection: {
                get() {
                    return this.$store.state.genres
                }
            }
        },
        methods: {
            setPriceFilter(v) {
                let opSwitch = ''
                switch (this.operand) {
                    case '<':
                        opSwitch = 'updateRecordsLess'                            
                        break
                    case '>':
                        opSwitch = 'updateRecordsMore'                            
                        break
                    case '=':
                        opSwitch = 'updateRecordsEqual'
                        break
                }

                const trimInput = v.trim()
                const cleanInput = trimInput.replace(',', '.')

                this.$store.dispatch('getFilteredRecords', [opSwitch, cleanInput])
                const founded = this.$store.getters.renderRecordsList.length
                const discogsTotal = this.$store.state.records.length

                let plural = (founded > 1) ? 's' : '' 
                this.filteredList = (founded > 0 && founded < discogsTotal) ? `<small><em>${founded} trouvé${plural}</em></small>` : ''
            },
            setSearchRecords(v) {
                this.$store.dispatch('getSearchRecords', v)
                const founded = this.$store.getters.renderRecordsList.length
                const discogsTotal = this.$store.state.records.length

                let plural = (founded > 1) ? 's' : '' 
                this.filteredList = (founded > 0 && founded < discogsTotal) ? `<small><em>${founded} trouvé${plural}</em></small>` : ''
            },
            getGenres() {
                axios.get('http://localhost/api/json/genres.json')
                     .then((res) => {
                         this.$store.dispatch('defineGenres', res.data)
                     })
            }
        },
        watch: {
            operand() {
                this.setPriceFilter(this.amount)
            },
            displaySearch() {
                if (this.displaySearch != true) {
                    this.search_term = null
                    this.stats = false
                    this.$store.dispatch('resetAnySearch')
                }
            },
            genre_selected() {
                if (this.genre_selected === 'aucune') {
                    this.$store.dispatch('resetAnySearch')
                    return
                }
                this.$store.dispatch('displayRecordsByGenre', this.genre_selected)
            }
        }
    }
</script>

<style>
    .brand {
        color: hsl(0, 0%, 71%);
        transition: color .250s ease-in;
    }

    .brand:hover {
        color: hsl(0, 0%, 48%);
    }
</style>

