<template>
  <div id="container is-fluid">
    <div class="signal-wrapper" :class="isReady ? '' : 'no'">
      <div class="pulsar p1"></div>
      <div class="pulsar p2"></div>
    </div>
    <Nav/>
    <section class="section" v-if="viewKind === 'Card'">
      <Cards /> 
    </section>
    <section class="section" v-else>
      <Lists />
    </section>
  </div>
</template>

<script>
import Cards from './components/Cards'
import Lists from './components/Lists'
import Nav from './components/Nav'

export default {

  name: 'App',
  data () {
    return {
      title: 'My Discogs Marketplace',
      subtitle: 'Come and ask your sugar daddy!'
    }
  },
  mounted() {
    // this.createRecords(48)
    this.getMarketplace()
  },
  computed: {
    viewKind() {
      return this.$store.state.navigationView
    },
    isReady() {
      if (this.$store.state.records.length > 1) {
        return false
      }
      return true
    }
  },
  methods: {
    getMarketplace() {
      this.$http.get('http://localhost/api/json/')
        .then(res => {
          const rawData = res.data
          this.$store.commit('dumpAllRecords', rawData)
        })
        .catch(e => {
          console.error(e)
        })
    }
  },
  components: {
    Cards,
    Lists,
    Nav
  }
}
</script>

<style lang="scss">
  .has-bg-image {
    /*
    * MEGA TRICKS from CSS-TRICKS
    * https://css-tricks.com/tinted-images-multiple-backgrounds/
    */
    background: linear-gradient(
      rgba(0, 56, 121, 0.589), 
      rgba(219, 166, 123, 0.432)
    ),
    url('./assets/img/bg-img.jpg') center center;
    background-size: cover;
  }

  /*
   * New global loader  
  */
  .signal-wrapper {
    z-index:9999;
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    overflow: hidden;
    background: #FFF;
    opacity: 1;
    visibility: visible;

    transition: opacity .65s ease;
  }

  .no {
    opacity: 0;
    visibility:hidden;
  }

  .pulsar {
    border-style: solid;
    // border-width: 4px;
    // border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    top:50%;
    left:50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    width: 30px;
  }

  .p1 {
    animation: pulsate1 1s ease-out;
    animation-iteration-count: infinite;
  }

  .p2 {
    animation: pulsate2 .53s ease-out;
    animation-iteration-count: infinite;
  }

  @keyframes pulsate1 {
    0% {
      transform: scale(.1);
      opacity: 0.1;
      border-color: rgb(8, 196, 165);
      border-width:2px;
    }
    60% {
      opacity: 1;
      border-color: rgb(233, 45, 20);
      border-width:4px;
    }
    100% {
      transform: scale(1.88);
      opacity: 0;
      border-color: rgb(199, 26, 233);
      border-width:1px;
    }
  }

  @keyframes pulsate2 {
    0% {
      transform: scale(.1);
      opacity: 0.1;
      border-color: rgb(196, 177, 8);
      border-width:6px;
    }
    40% {
      opacity: 1;
      border-color: rgb(20, 183, 233);
      border-width:4px;
    }
    100% {
      transform: scale(1.75);
      opacity: 0;
      border-color: rgb(229, 233, 26);
      border-width:2px;
    }
  }

</style>
