<template>
    <div id="footer">
      <footer class="footer">
      <div class="container">
          <div class="columns">
              <div class="column is-two-fifth">
                    &copy; 2010 - {{ today }}: <a href="https://studiomzk.com/" target="_blank">Studio MZK</a>.
              </div>
              <div class="column is-three-fifths has-text-right	has-text-weight-light is-size-7">
                  Things made with love & <a href="https://vuejs.org/" target="_blank">Vue.js</a>!
              </div>
          </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  computed: {
      today() {
          return (new Date()).getFullYear()
      }
  }
}
</script>

<style>
    .footer {
        position: fixed;
        bottom: 0;
        padding: 1rem;
        width: 100%;
        font-size: .85em;
        opacity: .85;
    }
</style>

